/* ------------ LABORATORIOS DE ENTRENAMIENTO ------------  */

/* Contenido */
.content-segmento.laboratorios-entrenamiento > p {
  color: var(--naranja);
}
/* Banner */
.banner-segmento.laboratorios-entrenamiento {
  background: url("../images/bg-naranja.avif") no-repeat center center / cover;
}
/* Caja de búsqueda */
.buscar.laboratorios-entrenamiento button {
  color: var(--naranja);
}
.buscar.laboratorios-entrenamiento button:hover {
  color: var(--naranja-hover);
}
.buscar.laboratorios-entrenamiento input[type="text"] {
  color: var(--naranja);
  border-bottom: 1px solid var(--naranja);
}
.buscar.laboratorios-entrenamiento input[type="text"]:hover,
.buscar.laboratorios-entrenamiento input[type="text"]:focus {
  border-bottom-color: var(--naranja-hover);
}
.buscar.laboratorios-entrenamiento input[type="text"]::placeholder {
  color: var(--naranja);
}
/* Filtros */
.filtros.laboratorios-entrenamiento .sel {
  border: 1px solid var(--naranja);
  color: var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel.lugar {
  width: 25ch;
}
.filtros.laboratorios-entrenamiento .sel.dia {
  width: 14ch;
}
.filtros.laboratorios-entrenamiento .sel.tematica {
  width: 29ch;
}
.filtros.laboratorios-entrenamiento .sel.producto {
  width: 34ch;
}
.filtros.laboratorios-entrenamiento .sel.dirigido {
  width: 39ch;
}
.filtros.laboratorios-entrenamiento .sel.nivel {
  width: 28ch;
}
.filtros.laboratorios-entrenamiento .sel.has-value,
.filtros.laboratorios-entrenamiento .sel.active {
  background: var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel__placeholder {
  color: var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel__arrow {
  fill: var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel__box {
  outline: 1px solid var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel__box__options {
  color: var(--naranja);
  border-bottom: 1px solid var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel__box__options .sel__clear {
  color: var(--naranja);
}
.filtros.laboratorios-entrenamiento .sel__clear:hover {
  color: var(--naranja-hover);
}
/* Imagenes */
.filtros.laboratorios-entrenamiento .modal-content {
  color: var(--naranja);
}
.filtros.laboratorios-entrenamiento .btn-mapa {
  color: var(--naranja);
}
.filtros.laboratorios-entrenamiento .close {
  color: var(--naranja);
}
/* Agenda */
.agenda.laboratorios-entrenamiento .evento {
  border-bottom: 1px solid var(--naranja);
}
.agenda.laboratorios-entrenamiento .evento .detalles a {
  color: var(--naranja);
}

/* ------------  Iconos ------------  */
.icono-morado {
  color: var(--morado);
}
.icono-rosado-1 {
  color: var(--rosado-1);
}
.icono-rosado-3 {
  color: var(--rosado-3);
}
.icono-rojo-vino {
  color: var(--rojo-vino);
}
.icono-naranja {
  color: var(--naranja);
}
.icono-blanco {
  color: white;
}
