/* ------------ SALONES TEMÁTICOS ------------  */

/* Contenido */
.content-segmento.salones-tematicos > p {
  color: var(--morado);
}
/* Banner */
.banner-segmento.salones-tematicos {
  background: url("../images/bg-morado.avif") no-repeat center center / cover;
}
/* Caja de búsqueda */
.buscar.salones-tematicos button {
  color: var(--morado);
}
.buscar.salones-tematicos button:hover {
  color: var(--morado-hover);
}
.buscar.salones-tematicos input[type="text"] {
  color: var(--morado);
  border-bottom: 1px solid var(--morado);
}
.buscar.salones-tematicos input[type="text"]:hover,
.buscar.salones-tematicos input[type="text"]:focus {
  border-bottom-color: var(--morado-hover);
}
.buscar.salones-tematicos input[type="text"]::placeholder {
  color: var(--morado);
}
/* Filtros */
.filtros.salones-tematicos .sel {
  border: 1px solid var(--morado);
  color: var(--morado);
}
.filtros.salones-tematicos .sel.lugar {
  width: 25ch;
}
.filtros.salones-tematicos .sel.dia {
  width: 15ch;
}
.filtros.salones-tematicos .sel.tematica {
  width: 32ch;
}
.filtros.salones-tematicos .sel.producto {
  width: 38ch;
}
.filtros.salones-tematicos .sel.dirigido {
  width: 32ch;
}
.filtros.salones-tematicos .sel.nivel {
  width: 28ch;
}
.filtros.salones-tematicos .sel.has-value,
.filtros.salones-tematicos .sel.active {
  background: var(--morado);
}
.filtros.salones-tematicos .sel__placeholder {
  color: var(--morado);
}
.filtros.salones-tematicos .sel__arrow {
  fill: var(--morado);
}
.filtros.salones-tematicos .sel__box {
  outline: 1px solid var(--morado);
}
.filtros.salones-tematicos .sel__box__options {
  color: var(--morado);
  border-bottom: 1px solid var(--morado);
}
.filtros.salones-tematicos .sel__box__options .sel__clear {
  color: var(--morado);
}
.filtros.salones-tematicos .sel__clear:hover {
  color: var(--rosado-1);
}
/* Imagenes */
.filtros.salones-tematicos .modal-content {
  color: var(--morado);
}
.filtros.salones-tematicos .btn-mapa {
  color: var(--morado);
}
.filtros.salones-tematicos .close {
  color: var(--morado);
}
/* Agenda */
.agenda.salones-tematicos .evento {
  border-bottom: 1px solid var(--morado);
}
.agenda.salones-tematicos .evento .detalles a {
  color: var(--morado);
}
