/* ------------  SESIONES TÉCNICAS ------------  */

/* Contenido */
.content-segmento.charlas-tecnicas > p {
  color: var(--rojo-vino);
}
/* Banner */
.banner-segmento.charlas-tecnicas {
  background: url("../images/bg-rojo.avif") no-repeat center center / cover;
}
/* Caja de búsqueda */
.buscar.charlas-tecnicas button {
  color: var(--rojo-vino);
}
.buscar.charlas-tecnicas button:hover {
  color: var(--rojo-vino-hover);
}
.buscar.charlas-tecnicas input[type="text"] {
  color: var(--rojo-vino);
  border-bottom: 1px solid var(--rojo-vino);
}
.buscar.charlas-tecnicas input[type="text"]:hover,
.buscar.charlas-tecnicas input[type="text"]:focus {
  border-bottom-color: var(--rojo-vino-hover);
}
.buscar.charlas-tecnicas input[type="text"]::placeholder {
  color: var(--rojo-vino);
}
/* Filtros */
.filtros.charlas-tecnicas .sel {
  border: 1px solid var(--rojo-vino);
  color: var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel.lugar {
  width: 24ch;
}
.filtros.charlas-tecnicas .sel.dia {
  width: 14ch;
}
.filtros.charlas-tecnicas .sel.tematica {
  width: 33ch;
}
.filtros.charlas-tecnicas .sel.producto {
  width: 38ch;
}
.filtros.charlas-tecnicas .sel.dirigido {
  width: 39ch;
}
.filtros.charlas-tecnicas .sel.nivel {
  width: 28ch;
}
.filtros.charlas-tecnicas .sel.has-value,
.filtros.charlas-tecnicas .sel.active {
  background: var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel__placeholder {
  color: var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel__arrow {
  color: var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel__box {
  outline: 1px solid var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel__box__options {
  color: var(--rojo-vino);
  border-bottom: 1px solid var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel__box__options .sel__clear {
  color: var(--rojo-vino);
}
.filtros.charlas-tecnicas .sel__clear:hover {
  color: var(--naranja-hover);
}
/* Imagenes */
.filtros.charlas-tecnicas .modal-content {
  color: var(--rojo-vino);
}
.filtros.charlas-tecnicas .btn-mapa {
  color: var(--rojo-vino);
}
.filtros.charlas-tecnicas .close {
  color: var(--rojo-vino);
}
/* Agenda */
.agenda.charlas-tecnicas .evento {
  border-bottom: 1px solid var(--rojo-vino);
}
.agenda.charlas-tecnicas .evento .detalles a {
  color: var(--rojo-vino);
}