* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --rojo-vino: #7e212a;
  --rojo-vino-hover: #59171c;
  --morado: #7c216e;
  --morado-hover: #54174a;
  --naranja: #ec6936;
  --naranja-hover: #ce4310;
  --rosado-1: #f1a7cd;
  --rosado-3: #c64865;
  --gris-2: #ededed;
  --gris-3: #dfdfdf;
  --gris-4: #cccccc;
  --gris-5: #737373;
  --font--3: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  --font--2: clamp(0.625rem, 0.568181818rem + 0.252525253vw, 0.75rem);
  --font--1: clamp(0.75rem, 0.693181818rem + 0.252525253vw, 0.875rem);
  --font-0: clamp(0.875rem, 0.818181818rem + 0.252525253vw, 1rem);
  --font-1: clamp(1rem, 0.943181818rem + 0.252525253vw, 1.125rem);
  --font-2: clamp(1.125rem, 1.068181818rem + 0.252525253vw, 1.25rem);
  --font-3: clamp(1.25rem, 1.079545455rem + 0.757575758vw, 1.625rem);
  --font-4: clamp(1.625rem, 1.454545455rem + 0.757575758vw, 2rem);
  --font-5: clamp(1.625rem, 1.227272727rem + 1.767676768vw, 2.5rem);
  --font-6: clamp(2rem, 1.545454545rem + 2.02020202vw, 3rem);
  --font-7: clamp(2.5rem, 2.045454545rem + 2.02020202vw, 3.5rem);
  --font-8: clamp(2.5rem, 1.818181818rem + 3.03030303vw, 4rem);
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Avenir Next LT Pro", Arial;
  background: url("../images/bg-blanco.avif") no-repeat center center / cover;
}

main {
  display: flex;
  flex-direction: column;
}

/* --- INICIO --- */

/* Banner */
.banner-inicio {
  width: 100%;
  height: 16/9;
  flex-shrink: 0;
  background: url("../images/bg-morado.avif") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-inicio > img {
  position: absolute;
  width: 20dvw;
  min-width: 150px;
  height: auto;
  top: 1rem;
  right: 1rem;
}
.banner-inicio .logo-banner {
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1;
  height: fit-content;
  position: relative;
  transform: translateY(50%);
  background: var(--gris-2);
  border: 4px solid var(--gris-4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.banner-inicio .logo-banner img {
  width: 65%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
/* Contenido */
.content-inicio {
  width: 100%;
  flex-grow: 1;
  padding: 6rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4vh;
  position: relative;
}
.content-inicio h1 {
  max-width: 80ch;
  color: #000;
  font-size: var(--font-5);
  font-weight: 500;
}
.content-inicio a {
  width: 100%;
  max-width: 500px;
  font-size: var(--font-3);
  font-weight: 400;
  padding: 1rem;
  text-decoration: none;
}
.content-inicio p {
  max-width: 100%;
  max-width: 80ch;
  color: #000;
  font-size: var(--font-1);
  font-weight: 400;
}
.content-inicio > img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
/* Botones */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  border: 1px solid var(--gris-2);
  color: #fff;
  transition:
    background 0.3s,
    transform 0.2s;
}
.btn:hover {
  transform: scale(1.03);
}
.btn-red {
  background: var(--rojo-vino);
}
.btn-red:hover {
  background: var(--rojo-vino-hover);
}
.btn-purple {
  background: var(--morado);
}
.btn-purple:hover {
  background: var(--morado-hover);
}
.btn-orange {
  background: var(--naranja);
}
.btn-orange:hover {
  background: var(--naranja-hover);
}