---
interface Props {
  icono: string;
  segmento: string;
  showDia?: boolean;
}

const { icono, segmento, showDia = false } = Astro.props;
const contenedorClase = "filtros " + segmento;
---

<div class={contenedorClase}>
  <div class="sel lugar">
    <select id="lugar" name="lugar" data-placeholder="Piso - Salón"></select>
    <svg class={icono}><use xlink:href="#arrow"></use></svg>
  </div>

  {
    showDia ? (
      <div class="sel dia">
        <select id="dia" name="dia" data-placeholder="Día"></select>
        <svg class="sel__arrow">
          <use xlink:href="#arrow" />
        </svg>
      </div>
    ) : null
  }
</div>