/* --- global.css --- */
:root {
  --rojo-vino: #7e212a;
  --rojo-vino-hover: #59171c;
  --morado: #7c216e;
  --morado-hover: #54174a;
  --naranja: #ec6936;
  --naranja-hover: #ce4310;
  --rosado-1: #f1a7cd;
  --rosado-3: #c64865;
  --gris-2: #ededed;
  --gris-3: #dfdfdf;
  --gris-4: #cccccc;
  --gris-5: #737373;
  --text: #00000094;
  --text-low-opacity: #00000094;
  --font--3: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  --font--2: clamp(0.625rem, 0.568181818rem + 0.252525253vw, 0.75rem);
  --font--1: clamp(0.75rem, 0.693181818rem + 0.252525253vw, 0.875rem);
  --font-0: clamp(0.875rem, 0.818181818rem + 0.252525253vw, 1rem);
  --font-1: clamp(1rem, 0.943181818rem + 0.252525253vw, 1.125rem);
  --font-2: clamp(1.125rem, 1.068181818rem + 0.252525253vw, 1.25rem);
  --font-3: clamp(1.25rem, 1.079545455rem + 0.757575758vw, 1.625rem);
  --font-4: clamp(1.625rem, 1.454545455rem + 0.757575758vw, 2rem);
  --font-5: clamp(1.625rem, 1.227272727rem + 1.767676768vw, 2.5rem);
  --font-6: clamp(2rem, 1.545454545rem + 2.02020202vw, 3rem);
  --font-7: clamp(2.5rem, 2.045454545rem + 2.02020202vw, 3.5rem);
  --font-8: clamp(2.5rem, 1.818181818rem + 3.03030303vw, 4rem);
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--morado) transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Avenir Next LT Pro", Arial;
}

body {
  min-height: 100vh;
  background: url("../images/bg-blanco.avif") no-repeat center center / cover;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
}

/* Botones globales */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  border: 1px solid var(--gris-2);
  border-radius: 99px;
  color: #fff;
  transition:
    background 0.3s,
    transform 0.2s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.03);
}
.btn-red {
  background: var(--rojo-vino);
}
.btn-purple {
  background: var(--morado);
}
.btn-orange {
  background: var(--naranja);
}
